*{
    margin: 0px;
    padding: 0px;
}

main{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "h h n n n a a"
    "h h n n n a a"
    "h h n n n a a"
    "h h n n n a a"
    "h h n n n o o"
    "h h n n n o o"
    "h h n n n o o";
}

header{
    background-color: aqua;
    grid-area: h;
    text-align: center; /* Alinea el texto del header a la izquierda */
    padding-left: 20px; /* Añade un pequeño margen a la izquierda */
    padding-right: 20px; /*Añade un margen a la derecha*/
    padding-top: 100%;
}
nav{
    background-color: rgb(83, 239, 220);
    grid-area: n;
    text-align: left; /* Alinea el texto del nav a la izquierda */
    padding-left: 40px;
    padding-top: 100%;
}

footer{
    background-color: rgb(105, 244, 225);
    grid-area: a;
    text-align: center; /* Centra el texto del footer si es necesario */
    padding-top: 100%;
}

label{
    background-color: rgb(144, 218, 248);
    grid-area: o;
    padding-top: 50%;
    padding-left: 10px;
    padding-right:10px ;
}
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}




